body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  margin: 3em auto;
  max-width: 50rem;
  padding: 1em;
}

.posts {
  display: grid;
  gap: 1em;
  font-size: 1.5em;
}

@media (min-width: 500px) {
  .posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
